<html>
  <head>
     <link rel = "icon" href = "https://pbs.twimg.com/profile_images/1120575992274178048/GdwaKQC7.png" type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Phone Verification</title>
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
  </head>

  <body>


  <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-expanded="false">
            <span  class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-auto" style="color:white" href="#"><img src="{{url_for('static', filename='kyc-logo.jpeg')}}" align="middle" width="75px"></a>
        <div class="collapse navbar-collapse" id="Navbar" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active" ><a class="nav-link" style="color:white" href="#">Home</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="/aboutUs">About us</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="#">Contact us</a></li>
            </ul>
        </div>
        </div>

      </nav>
  <div class="container align-center">
  <h1>Verify your phone number</h1>
    <form action="/phone_verification" accept-charset="UTF-8" method="post">

      <div>
        <label for="phone_number">Phone number:</label>
        <input type="tel" name="phone_number" id="phone_number" />
      </div>
      <div>
        <p>Verification method</p>
        <label for="method_sms">SMS: </label>
        <input type="radio" name="method" id="method_sms" value="sms" />
        <label for="method_call">Call: </label>
        <input type="radio" name="method" id="method_call" value="call" />
      </div>
      <button name="button" type="submit">Verify</button>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
